:root {
    --text: grey;
    --headerMain: rgb(125, 135, 176);
    --dark: darkslategrey;
    --grey: dimgray;
    --blue: rgb(92, 92, 176);
    --background: whitesmoke;
    --bgcPage: gainsboro;
    --iconSocial: blue;
    --iconInstagram: rgb(170, 18, 44);
}