.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.headerMain {
  color: var(--headerMain);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.item:not(:last-child) {
  margin-bottom: 50px;
  border-bottom: 1px solid slategrey;
}