.title {
  margin-left: 450px;
  padding-top: 25px;
}

.lecturersList {
  width: 800px;
  background-color: var(--bgcPage);
  margin: auto;
  padding: 30px;
}

.lecturersItem {
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
